#bso {
  background-color: #0CA1A7;
  color: inherit;
}


.hso {
  text-align: center;
  font-size: 300%;
}

.pso {
  text-align: justify;
  font-size: 120%;
}
#myScrollspy {
  position: fixed;
  display: block;
  margin-top: 2%;
  left: 2%;
}

.cuerpogeneral {
  padding-left: 5%;
  padding-right: 6%;
}
